<div>
  <br>
  <mat-card>
    <button mat-raised-button color="primary" routerLink="/create">Create New Sale Order</button>
    <br><br>
    <mat-divider></mat-divider>
    <br>
    <table mat-table [dataSource]="saleOrders">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element">{{ element.title }}</td>
      </ng-container>
      <ng-container matColumnDef="customer">
        <th mat-header-cell *matHeaderCellDef>Customer</th>
        <td mat-cell *matCellDef="let element">{{ element.customer }}</td>
      </ng-container>
      <ng-container matColumnDef="salesPerson">
        <th mat-header-cell *matHeaderCellDef>Sales Person</th>
        <td mat-cell *matCellDef="let element">{{ element.salesPerson }}</td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let element">{{ element.total }}</td>
      </ng-container>
      <ng-container matColumnDef="invoiceStatus">
        <th mat-header-cell *matHeaderCellDef>Invoice Status</th>
        <td mat-cell *matCellDef="let element">{{ element.invoiceStatus }}</td>
      </ng-container>
      <ng-container matColumnDef=actions>
        <th mat-header-cell *matHeaderCellDef class="so_content_right">Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button color="primary" (click)="editSaleOrder(element._id)">Edit</button>
          <button mat-button color="warn" (click)="deleteSaleOrder(element._id) ">Delete</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
</div>
